.body {
  width: 100vw;
  height: calc(100vh - 31px - 22px);

  background-color: #323232;

  overflow: hidden;
  display: flex;
}

.body .code {
  height: auto;
}

.body .run {
  width: 500px;
  height: auto;

  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #212121;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.run::-webkit-scrollbar {
  display: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
