.run .tab {
  width: calc(500px - 20px);
  height: 20px;
  display: flex;
  margin-top: 5px;
  margin-left: 7px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: white;
  border: 2px solid #9e9e9e;
  border-bottom: none;
}
.tab .list {
  padding-top: 2px;
  font-size: 15px;
  background-color: white;

  padding-left: 5px;
  padding-right: 5px;

  border-right: 1px solid gray;

  cursor: pointer;
  user-select: none;
}

.tab .list:hover {
  background-color: lightgray;
}

.run .console {
  width: calc(500px - 20px);
  height: calc(100vh - 495px);

  margin-left: 7px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;

  border: 2px solid #9e9e9e;
}

.console .console_log {
  width: calc(500px - 20px);
  height: 25px;
  position: relative;
}

.console_log .text {
  position: absolute;
  left: 0%;
  margin-top: 2px;
}

.console_log .message {
  position: absolute;
  right: 0%;
  bottom: 0;
  font-size: 10px;
  color: gray;
}
