.menu {
    z-index: 100;

    width: 100vw;
    height: calc(100vh - 31px);

    position: absolute;
    top: 31px;
    left: 0%;

    visibility: hidden;
}

.menu-pulldown {
    width: auto;
    min-width: 200px;

    background-color: #242424;

    height: auto;
    z-index: 101;

    border-radius: 3px;

    padding-top: 5px;
    padding-bottom: 5px;

    color: white;
}

.menu-pulldown-file {
    position: absolute;
    top: 0px;
    left: 133px; 
}

.menu-pulldown-tool {
    position: absolute;
    top: 0px;
    left: 210px; 
}

.menu-pulldown-help {
    position: absolute;
    top: 0px;
    left: 270px;
}


.menu-pulldown .content {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.menu-pulldown .content:hover {
    background-color: rgb(0, 122, 204);
}

.menu-pulldown hr {
    display: block;
    width: calc(100% - 10px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0;
    margin: 3px 5px;
}
